<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About NTD</title>
</head>
<body>
    <div><h1>About: NTD is around here.</h1></div>
    <a href="/">Index</a>
</body>
</html>