<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
        body{
            background-color: rgb(238, 233, 227);
            font-family: "Fredoka", sans-serif ;
            color:rgb(246, 102, 6);
        }
    </style>
    <title>About NTD</title>
</head>
<body>
    <div><h1>About : NTD is around here.</h1></div>
    <a href="/">Back</a>
</body>
</html>