<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <link rel="stylesheet" href="/css/beemaStyles.css">
    <title>BEEMA</title>
</head>
<body>
   <div class="header"><h1>beema</h1></div>
   <div class="content">
        <div class="item">
                <h1>Connect all your<br>policies here</h1>
            <!--<form class="form" method="POST" action="info">-->
            <form class="form" method="POST" action="about">
                <label for="">Email</label>
                <input name="email" type="email" placeholder="your@email.com" required>
                <label for="">Renew date</label>
                <input class="renewDate" name="renewDate" type="date" value="2024-01-01" required>
                <button type="submit">Sign Me Up</button>
            </form>
        </div>
      
   </div>
   <div class="footer"><h2>2024™ C.Roy</h2></div>
 
   <script>
      /*
        const formEl = document.querySelector('.form', event);   
        const baseURL =  "http://127.0.0.1:5000/about"

        formEl.addEventListener('submit', async event =>{
            event.preventDefault();

            const formData = new FormData(formEl);
            const data = Object.fromEntries(formData);
            
            await fetch(baseURL, {
            method:'POST',
            headers:{
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
    })
     */
</script>  
</body>
</html>