<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <link rel="stylesheet" href="/css/beemaStyles.css">
    <title>BEEMA</title>
</head>
<body>
   <div class="header"><h1>beema</h1></div>
   <div class="content">
        <div class="item">
                <h1>Connect your<br>policies here</h1>
            <form action="/">
                <label for="">Email</label>
                <input type="email">
                <label for="">Renew date</label>
                <input type="date">
                <button>Sign Me Up</button>
            </form>
        </div>
      
   </div>
   <div class="footer"><h2>2024™</h2></div>
</body>
</html>