<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/gridstyles.css" type="text/css">
    <title>NTD Local</title>
</head>
<body>
    <div class="container">
        <div class="item item-menu">MENU</div>
        <div class="item item-main">
            <div class="item-main-left">MAIN LEFT</div>
            <div class="item-main-right">MAIN RIGHT</div>
        </div>
        <div class="item item-dock">Dock</div>
        <div class="item item-footer">Footer</div>
    </div>
</body>
</html>