<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <link rel="stylesheet" href="/css/groups.css">
    <title>Beema Groups</title>
</head>
<body>
   <div class="header"><h1>beema &#9733 GROUPS</h1></div>
   <div class="content">
        <div class="item">
            <h1><%=text%></h1>
        <div class="groups">
            <div><a href="/groupConnect">View</a></div>
            <div>WeCycle<a href="/groupConnect">View</a></div>
            <div>Group B<a href="/groupConnect">View</a></div>
            <div>Club WRC Safari<a href="/groupConnect">View</a></div>
            <div>Went to ALLIANCE<a href="/groupConnect">View</a></div>
            <div>Group Open<a href="/groupConnect">View</a></div>
            <div>Deutsche<a href="/groupConnect">View</a></div>
            <a href="/groupConnect"><h4>Connect Me to<br>THIS Group</h4></a>
            <div>Group Open<a href="/groupConnect">View</a></div>
            <div>Group Open<a href="/groupConnect">View</a></div>
            <div>Group Private<a href="/groupConnect">View</a></div>
            <div>Group JDM<a href="/groupConnect">View</a></div>
            <div>Group G<a href="/groupConnect">View</a></div>
            <a href="/about"><h4>Take Me Back to Signup</h4></a>

        </div>
        </div>
   </div>
   <div class="footer" id="payoutFooter"><h2>C.Roy 2024™</h2></div>
   <!--
       <script>
      const postBtn = document.getElementById("post");
      const input = document.getElementById("input");
      const baseUrl = "http://localhost:5000/signup";

      postBtn.addEventListener("click", postInfo);

      async function postInfo(e) {
        e.preventDefault();
        if (input.value == "") {
          return;
        }
        const res = await fetch(baseUrl, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({parcel: input.value,}),
        });
      }
    </script>
   -->
  