<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/gridstyles.css" type="text/css">
    <title>TENEX</title>
</head>
<body>
    <div class="container">
        <div class="item item-menu">
            <div class="flx item-menu-flex">
                <div class="item-menu-flex-logo"></div>
                <div class="item-menu-flex-secondLine"></div>
            </div>
        </div>
        <div class="item item-main">
            <div class="item-main-left">
                <div class="flx item-main-left-flex"></div>
            </div>
            <div class="item-main-right">
                <div class="flx item-main-right-flex"><p>TENEX builds disruptive early stage technology ventures.</p>
                </div>
            </div>
        </div>
        <div class="item item-dock">
            <div class="flx item-dock-flex">
                <div class="icon">beema</div>
                <div class="icon">stawi</div>
                <div class="icon">gccho</div>
                <div class="icon">typsy</div>
            </div>
            </div>
        <div class="item item-footer">
            <div class="flx item-footer-flex"> <div class="privacyNotice">TENEX</div>
            <div class="copyrightNotice">© 2024</div>
        </div>
        </div>
    </div>
</body>
</html>