<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/gridstyles.css" type="text/css">
    <title>NTD Local</title>
</head>
<body>
    <div class="container">
        <div class="item item-menu">
            <div class="flx item-menu-flex">
                <div class="item-menu-flex-logo">LOGO</div>
                <div class="item-menu-flex-secondLine">Second Line</div>
            </div>
        </div>
        <div class="item item-main">
            <div class="item-main-left">
                <div class="flx item-main-left-flex">LEFT FLEX</div>
            </div>
            <div class="item-main-right">
                <div class="flx tem-main-right-flex">RIGHT FLEX</div>
            </div>
        </div>
        <div class="item item-dock">
            <div class="flx item-dock-flex">
                <div class="icon">ICON</div>
                <div class="icon">ICON</div>
                <div class="icon">ICON</div>
                <div class="icon">ICON</div>
            </div>
            </div>
        <div class="item item-footer">
            <div class="flx item-footer-flex"> <div class="privacyNotice">Privacy Box</div>
            <div class="copyrightNotice">TNXV©2024</div></div>
        </div>
    </div>
</body>
</html>