<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <link rel="stylesheet" href="css/beemaStyles.css">
    <title>BMMA</title>
</head>
<body>
   <div class="header"><h1>beema</h1></div>
   <div class="content">
        <div class="item">
                <h1>Connect to THIS<br>group here</h1>
            <form action="/">
                <label for="">Email</label>
                <input type="email">
                <label for="">Invite Code Number</label>
                <input type="number" placeholder="000 000">
                <button id="payoutButton">Link Up</button>
                <a href="/contact"><h4>Take Me Back to Groups</h4></a>

            </form>
        </div>
   </div>
   <div class="footer" id="payoutFooter"><h2>TENEX 2024™</h2></div>
   <!--
       <script>
      const postBtn = document.getElementById("post");
      const input = document.getElementById("input");
      const baseUrl = "http://localhost:5000/signup";

      postBtn.addEventListener("click", postInfo);

      async function postInfo(e) {
        e.preventDefault();
        if (input.value == "") {
          return;
        }
        const res = await fetch(baseUrl, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            parcel: input.value,
          }),
        });
      }
    </script>
   -->
  