<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>BEEMA</title>
</head>
<body>
    <div class="container">
        <div class="container_left_up">
            <div class="one">
                <h1>beema</h1>
            </div>
            <div class="two">
                <h3> <%=text%> </h3>
            </div>
        </div>
        <div class="container_right_down">
            <div class="three">
                <p><a href="/about">Start Here</a></p>
            </div>
            <div class="four">
                <!--Keep this LInk-->
                <a href="/contact">&#9733</a>
            </div>
        </div>
    </div>
</body>
</html>