<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>NTD Local</title>
</head>
<body>
    <div class="container">
        <div class="container_left_up">
            <div class="one">
                <h1> TENEX VENTURES |</h1>
            </div>
            <div class="two">
                <h1> <%=text%> !</h1>
            </div>
        </div>
        <div class="container_right_down">
            <div class="three">
                <a href="/about">About</a>    
            </div>
            <div class="four">
                <a href="/info">Info</a>
            </div>
        </div>
    </div>
</body>
</html>