<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>NTD Local</title>
</head>
<body>
    <div class="container">
        <div class="container_left_up">
            <div class="one">
                <img class="logo_left_up" src="/images/TENEX_logo_large.jpg"  alt="TENEX LOGO">
            </div>
            <div class="two">
                <h3> <%=text%> </h3>
            </div>
        </div>
        <div class="container_right_down">
            <div class="three">
                <p>TENEX makes investments in early stage disruptive technology ventures.<a href="/about">About</a>   </p>
            </div>
            <div class="four">
                <p>Sign up for updates</p>
                <a href="/contact">CONTACT PAGE</a>
            </div>
        </div>
    </div>
</body>
</html>