<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Info</title>
</head>
<body>
    <div class="container">
        <div class="container_left_up">
            <div class="one">
                <h1>Info |</h1>
            </div>
            <div class="two">
                <h1> Form</h1>
            </div>
        </div>
        <div class="container_right_down">
            <div class="three">
                <form action="/users" method="POST">
                    <label for="">First Name
                        <input type="text" name="firstName" value="<%=locals.firstName%>"/>
                    </label>
                    <button type="Submit">Submit</button>
            
                </form>
            </div>
            
            <div class="four">
                <a href="/">Back</a>
            </div>
        </div>
        

    </div>
   
</body>
</html>