@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.header {
    font-family: "Righteous", sans-serif;
    font-weight: lighter;
    font-size: larger;
    position: sticky;
    top: 0;

    color: #ffffff;
    border-bottom: 2px solid rgb(216, 216, 216);
    height: 8%;

    /*white and shadow version*/
    background: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.987);

    opacity: 90%;
    color: rgba(0, 0, 0, 0.651);
    box-shadow: 0 2px 1px 1px rgba(183, 183, 183, 0.209);
    display:flex;
    align-items: center;
    gap:8px;
}


h1{
    color:rgb(255, 2, 2);
}

.headerSection{
    background-color: rgb(206, 248, 248);
    font-size: smaller;
    border:none;
    border-radius: 16px;
    margin-left:6px;
    padding:6px;
    padding-left: 6px;
    width:80%;
    height:25%;
}

.renewalSection{
    font-family:"Outfit", sans-serif ;
    font-size: 12px;
    color:rgb(47, 46, 46);
    overflow:scroll;
    width:98vw;
    height:95vh;
}

ul{
    list-style:none;
    border:1px solid whitesmoke;
    border-radius:0.2rem;
    display:flex;
    gap:4px;
    flex-wrap: wrap;
}

li{
    border-radius:8px;
    margin: 5px auto;
    padding:7px;
    background:gainsboro;
    box-shadow: -1px 1px 4px rgb(213,212,212);
    width: 90%;
}