@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    
}

body{
    font-family: "Fredoka", sans-serif ;
    font-size: 16px;
    line-height: 1.5;
    /*font-family: -apple-system, sans-serif;*/
    color:rgb(246, 102, 6);
    /*background-color: rgb(231, 231, 234);*/
    background: rgb(255,255,255);
    background: linear-gradient(198deg, rgba(255,255,255,1) 0%, rgba(228, 232, 232, 0.898) 57%); 
    
    height:100vh;
    display:grid;
}
a{
    text-decoration: none;
    font-size:medium;
    text-align: center;
}
.container{
    max-width: 80vw;
    min-width: 70vw;
    min-height:50vh;
    max-height: max-content;
    margin: auto;
    padding:0;
    background-color: #fff;    
    box-shadow: 0 0 1rem 0.25rem rgba(222, 238, 247, 0.759),
    0 0 1rem 0.405rem rgba(212, 213, 214, 0.779);
    /*fwork*/
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:5px;
    /*border: rgba(137, 43, 226, 0.413) 2px solid;*/
}

.container>div{
    background: #fff;
    /*border:rgba(228, 224, 229, 0.246) 0.403rem solid;*/
    /*border-radius: 9px;*/
    height: auto;
    font-size: 0.999rem;
    /*fwork*/
    display:grid;
    grid-template-rows: 1fr 1fr;
    gap:0.6rem;
    align-items: center;
    justify-items: center;
    
}
/*menu grupp*/
.item-menu-flex-logo{
    background-image: url();
}
/*panel-grupp*/
.container_left_up{
    color: rgb(121, 121, 120);

}

.container_left_up>div{
    border: none;
}


.logo_left_up{
    height:100%;
    width: 100%;
    object-fit: cover;
}

.one{
    object-fit: cover;
}

.two>h3{
    color: rgba(89, 89, 86, 0.617);
    border-radius: 52px;
    border: 0.8px rgba(1, 1, 15, 0.217) solid;
    padding: 0.4rem;
    margin: 0.2rem;
    font-size: 0.8rem;
    font-family: system-ui, sans-serif;
    text-align: center;

}
.container_right_down{
    color: rgb(121, 120, 120);
}
.container_right_down>div{
    /*border: rgb(5, 230, 237) 2px solid;*/
    align-self:center;
    text-align: center;
}
.three{
    font-size: 1rem;
}

.four{
    font-size: 1.62rem;
    color: chocolate;
}
.four>a{
    border-radius: 52px;
    border: 0.8px rgba(1, 1, 15, 0.217) solid;
    padding: 0.4rem;
    margin: 0.3rem;
    font-family: system-ui, sans-serif;
    font-size: smaller;
    text-align: center;
}


/*solos*/
a{
    color:rgb(245, 5, 181);
}



@media(max-width:666px){
    .container{
        max-width: 900vw;
        grid-template-columns: 1fr;
        height: 80vh;
    }
}
@media(max-width:811px){
    .container{
        grid-template-columns: 1fr;
    }
}

@media(min-width:811px){
    .container{
        max-width: 30vw;
    }
}